{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">

        <article class="card shadow-sm border-0">

            <div class="card-body p-4">

                <h1 class="mb-3">
                    {{ post.title }}
                </h1>

                <div class="fs-5">
                    {{ post.content|linebreaks }}
                </div>

            </div>

        </article>

        <div class="mt-4">
            <a href="{% url 'posts' %}"
               class="btn btn-outline-secondary">
                ← Назад к постам
            </a>
        </div>

    </div>
</div>

{% endblock %}